body{
   font-family: 'Karla', sans-serif;
   background-color:  #fff;
}

/* Nav-bar */
.top-img{
    margin: 1% 0 1% 10%;
}
.mobile-preview{
    display: none;
}
.nav-bar{
    padding-right: 10%;
}


h1,h2,h3,h4,h5{
   font-family: 'DM Serif Display', serif;
}

/* Intro-section */

.intro-img{
    margin-top: 9%;
}

.intro-cnt{
    padding: 3% 14%;
    background-color: hsl(256, 26%, 20%);
    color: #fff;
}
.intro-cnt h1{
    font-size: 4.5em;
    line-height: .9;
    margin-bottom: 7%;
}
.intro-cnt hr{
    margin: 9% 75% 7% 0;
    background-color: whitesmoke; 
    height: 1px;
    border: 0;
}

/* Mid-section */
.mid-cnt{
    padding: 3% 14%;
}

.mid-cnt h1{
    font-size: 4.5em;
}

.mid-cnt hr{
   margin: 3% 86% 3% 0;
}
.mid-cnt-more,.mid-cnt-more img,.mid-cnt-more h3{
    margin: 5% 0;
}
.mid-cnt p{
    color: hsl(273, 4%, 51%);
}
/* Lower-Content */

.lwr-cnt{
    background-color: hsl(256, 26%, 20%);
    color: #fff;
    margin: 3% 14%;
    padding: 3% 5%;
}
.lwr-cnt h2{
    font-size: 3em;
}
.con-div{
    padding-right: 3%;
}
.con-but{
    margin: auto;
    padding-left: 35%;
}
.sharp{
    border-radius: 0;
}

/* Bottom-content */
.btm-cnt{
    margin-top: 10%;
    padding: 3% 14%;
    background-color:  hsl(0, 0%, 98%);
}
.btm-cnt hr{
    margin-right: 2.5%;
}
.icons{
    text-align: right;
}
/* .social-media:hover{
} */
.social{
    margin-bottom: 1%;
}
.social-media{
    padding: 0 1%;
}
.Bottom{
    font-weight: 700;
}
.Bottom p{
    color: hsl(273, 4%, 51%);
    padding: 7% 0 5%;
}
.Bottom a{
    text-decoration: none;
    color: hsl(270, 9%, 17%);
}
.Bottom a:hover{
    text-decoration: underline;
}
.btn{
    font-weight: 700;
}
@media (max-width:768px) {
    .intro-img{
        display: none;
    }
    .mobile-preview{
        display:block;
        padding-right: 0;
    }
    body{
        text-align: center;
    }
    .navbar-collapse{
        background-color: hsl(256, 26%, 20%);
    }
    .navbar{
        padding-bottom: 0;
    }
    .navbar-collapse a{
        color: #fff !important;
        margin: auto;
        text-align: center;
    }
    .navbar-collapse button{
        color: #fff !important;
        border: 1px solid #fff !important;
        margin-bottom: 3%;
        margin-left: 25px;
        margin-right: 12px;
    }
    .nav-bar{
        padding: 0;
    }
    .navbar-toggler{
        margin: 2% 5%;
    }
    .intro-cnt h1{
        font-size: 3em;
    }
    .mid-cnt h1{
        font-size: 3em;
    }
    .intro-cnt hr{
        display: none;
    }
    .mid-cnt hr{
        display: none;
    }
    .intro-cnt,.mid-cnt{
        padding-right: 11%;
    }
    .con-div h2{
        padding: 5% 3% 5% 3%;
    }
    .con-but{
        padding-left: 20px;
    }
    .icons{
        text-align: center;
        padding: 7% 0; 
        padding-left: 30px;
    }
    .social{
        padding-left: 15px;
    }
    .btm-logo{
        padding: 25% 0 5% 0;
        padding-left: 32px;
    }
    .Bottom{
        padding-left: 50px;
    }
}