@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
body{
    font-family: Poppins, sans-serif;
    font-weight: 500;
    background-color:  hsl(0, 0%, 96%);
}
.nav-bar{
    background-color: #fff;
    padding: 3% 10%;
}
.navbar a{
    font-weight: 700;
}
.nav-bar form button{
    border-radius: 20px;
    padding: 0 20px;
    background-color: hsl(180, 66%, 49%);
    border:0;
    font-weight: 700;
}
/* .login{
    margin-right: 25%;
} */
/* .sign-up{
    margin-left: 25%;
} */
.mobile-img{
    display: none;
}
.intro-cnt{
    background-color: #fff;
    padding: 3% 10%;
}
.intro-cnt h1{
    margin-top: 10%;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 4rem;
}
.intro-cnt p{
    color: hsl(257, 7%, 63%);
}
.intro-cnt button{
    border-radius: 25px;
    padding: 10px 25px;
    background-color: hsl(180, 66%, 49%);
    border:0;
    font-weight: 700;
    margin: 5% 0 20% 0;
}
.intro-cnt img{
    max-width: 100%;
    max-height: 100%;
    margin-right: 25%;
}
.link-box{
    background-image: url(images/bg-boost-desktop.svg);
    padding: 3%;
    background-color: hsl(257, 27%, 26%);
    margin:5% 11% 0;
    border-radius: 10px;
    transform:translateY(-90%);
}

.error-visible{
    color: red;
}
.error-hide{
    display: block;
}

.link-box input{
    width: 100%;
    padding: 2%;
    border-radius: 10px;
}
.link-box button{
    font-size: 1.2rem;
    background-color: hsl(180, 66%, 49%);
    font-weight: 700;
    padding: 6% 15%;
    border-radius: 10px;
}
.stats{
    padding: 0 10% 3%;
    text-align: center;
}
.stats p{
    color: hsl(257, 7%, 63%);
}

.comps{
    padding: 3% 10%;
    position: relative;
}
.comps::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 30%;
    width: 50%;
    height: .5rem;
    z-index: -1;
    background-color: hsl(180, 66%, 49%);
}
.comps img{
    display: inline-block;
    padding: 5%;
    border-radius: 50%;
    background-color:hsl(257, 27%, 26%) ;
    position: absolute;
    top: -3rem;
    left: 2rem;
}
.comps h3{
    padding: 3% 0;
}
.comps p{
    color: hsl(257, 7%, 63%);
}
.card{
    position: relative;
    background-color: #fff;
    padding: 15% 7% 5% 7%;
    z-index: 1;
}
.card-2{
    margin-top: 12%;
}
.card-3{
    margin-top: 24%;
}
h1,h2,h3,h4,h5{
    font-weight: 700;
}
.Start{
    margin: 5% 0 0 0;
    background-color:hsl(257, 27%, 26%) ;
    text-align: center;
    color: #fff;
    padding: 3% 0 3% 0;
    background-image: url(images/bg-boost-desktop.svg);
}
.Start button{
    background-color: hsl(180, 66%, 49%);
    width: 12%;
    border-radius: 20px;
    margin: 2% auto;
    float:inherit;
    font-weight: 700;
}

button,input{
    outline: none;
}

.End{
    padding: 3% 10%;
    background-color: hsl(255, 11%, 22%);
    color: #fff
}
.End a{
    text-decoration: none;
    color: hsl(257, 7%, 63%);
}
.End p{
    font-weight: 700;
}
.End a:hover{
    color: hsl(180, 66%, 49%);
}
.icons{
    padding:0 5%;
}
.icons path:hover{
    fill: hsl(180, 66%, 49%);
}
